@use '../../style/partials/fonts' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variable' as *;


.jobs{
    color: $Graphite;
    padding: 2rem 0;
    border-top: solid 1px $Cloud;

    @include tablet{
        border:0;
        margin-left: 1.5rem;
    }

    &__ticket-list{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            gap: 1.25rem;
        }
        
    }
    &__title{
        font-family:"Lovelace";
        color: $Graphite;
        font-weight:400;
        font-style:normal;
        margin-bottom: 2rem;
        line-height: 2rem;

        @include tablet{
            font-size:1.2rem;
            margin-bottom: 1rem;
        }
        
        @include desktop{  
            margin: 0%;
            font-size:1.5rem;
            line-height: 3rem;
        }
    }

    &__search{

        &-container{
            width: 100%;
            display: flex;
            margin-bottom: 2rem;
            @include tablet{
                width: 90%;
                // flex-direction: column;
                margin-bottom: 1rem;
            }
            @include desktop{
                width: 97%;
            }
        }

        &-box{
            width: 10rem;
            border-bottom-left-radius: 10px;
            @include tablet{
                width: 68%;
            }
        }

        &--row{
            padding: 0.4rem;
            @include tablet{
                padding: 0.4rem 0.8rem;}
            &:hover{
                cursor: pointer;
                background-color: $Light-Grey;
            }   
        }

        &--dropdown{
            background-color: white;
            display: flex;
            flex-direction: column;
            border: 1px solid $Cloud;
            border-top: none;
            width: 100%;
            overflow: hidden;
            color: $Slate;
            font-weight:200;
            margin-bottom: 1rem;
            font-size: 0.9rem;
            border-bottom-left-radius: 10px;
            display: none;
            @include tablet{
                
                font-size: 1rem;
                letter-spacing:1px;
                }          
            &:empty {
                border: none;
              } 
              &.visible{
                display: block;
                }     
               
        }
       
        &-input{
            padding: 0.4rem;
            width: 100%;
            font-weight: 200;
            font-size: 0.5rem;
            line-height: 22px;
            letter-spacing: -1px;
            color:$Slate;
            background: $White;
            border: 1px solid $Cloud;
            // border-right: none;
            border-top-left-radius: 10px;
            font-family: "Josefin Sans";
            font-size: 0.9rem;
            @include tablet{
                width: 100%;
                letter-spacing:1px;
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
            }
            &::placeholder{
                font-family: "Josefin Sans"; 
            }
        }

        &-box--location{
            border-top: 1px solid $Cloud;
            width: 4.8rem;
            @include tablet{
                width: 23%;
            }
            
        }

        &-input--location{
            padding: 0.4rem ;
            border: 1px solid $Cloud;
            border-left: none;
            border-top: none;
            width: 100%;
            font-weight: 200;
            font-size: 0.5rem;
            line-height: 22px;
            letter-spacing: -1px;
            color:$Slate;
            background: $White;
            font-family: "Josefin Sans";
            font-size: 0.9rem;
            @include tablet{
                width: 100%;
                letter-spacing:0.5px;
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
            }
            &::placeholder{
                font-family: "Josefin Sans"; 
                }
            }

            &--dropdown-location{
                font-size: 0.9rem;
                background-color: white;
                display: flex;
                flex-direction: column;
                border: 1px solid $Cloud;
                border-top: none;
                width: 100%;
                overflow: hidden;
                color: $Slate;
                font-weight:200;
                border-bottom-right-radius: 10px;
                margin-bottom: 1rem;
                display: none;
                @include tablet{
                
                font-size: 1rem;
                letter-spacing:1px;
                }     
                &:empty {
                    border: none;
                  } 
                  
                &.visible{
                    display: block;
                }  
            }
            
        &--btn{
            @include mobile-secondaryBtn;
            border-left: none;
            border-radius: 0%;
            border-top-right-radius: 10px;
            height: 2.3rem;
            padding: 0.4rem;
            @include tablet{
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
            }
        }
    }
}

.job-ticket{
    &__container{
        max-height: 15rem;
        margin-bottom: 1rem;
        display: flex;
        border: solid 0.5px $Cloud;
        border-radius: 10px;
        padding: 1rem;
        background-color: $White;
        box-shadow: 3px 3px 6px -3px rgba(200,202,204,1);

        @include tablet{
            width:25rem;
            height:11.5rem;
        }

        @include desktop{
            width:23rem;
            height:13rem;
        }
    }

    &__content{
        padding-right: 0.5rem;
        width: 75%;
        height: 80%;
    }
    &__title{
        color: $Slate;
        font-weight:600;
        font-style:normal;
        margin-top: 0%;
        font-size:1rem;
        @include tablet{
            font-size:1rem;
            line-height:1.2rem;
        }
    }

    &__company, &__salary, &__location{
        color: $Slate;
        font-weight:200;
        font-size:0.9rem;
        line-height: 0.8rem;
    }
    &__salary{
        color: $Purple;
        font-weight:300;
        font-size:0.9rem;
    }

    &__tags{
        display: flex;
    }
    &__function{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        border-left:1px dashed $Cloud;
        padding-left: 1rem;
    }
    &__icon{
        width: 1rem;
        cursor: pointer;
        &:hover{
            filter: brightness(0) saturate(100%) invert(42%) sepia(51%) saturate(4006%) hue-rotate(330deg) brightness(87%) contrast(115%);
        }
    }
    &__url{
        text-decoration: none;
    }
    &__btn{
        @include mobile-secondaryBtn;
        padding:0.2rem 0.5rem;
        border-radius: 10px;
    }
}

