@use '../../style/partials/fonts' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variable' as *;


.header{
    background-color: transparent;
    @include desktop{
        grid-area: 1 / 1 / 2 / 6;
        padding: 3rem;
        height: 6rem;
    }
   
    &__links{
        @include desktop{
        display: flex;
        justify-content: flex-end;

        }
        &--home, &--test, &--type, &--cart{
            display: flex;
            align-items: baseline;
        }
        &--icon{
            width: 20px;
            margin-right: 0.5rem;
        }
    }

    &__link{
        @include desktop{
            margin-right:2rem ; 
        }
        color: $Graphite;
        font-weight:200;
        text-decoration: none;
    }

    
}