@use '../../style/partials/fonts' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variable' as *;


.type-card{
    padding: 1rem;
    &__box{
            border-radius: 20px;
            background-color: rgb(255, 255, 255, 0.9);
            padding: 1rem;
            box-shadow: 7px 7px 15px -4px rgba(200,202,204,1);
        @include tablet{
            padding: 2rem;
            margin: 0 auto;
            width: 50%;
            }
            @include desktop{
                display: flex;
                width: 70rem;
            }
        }

        &__content{
            @include desktop{
             padding: 3rem;
             margin-left: 1rem;
            }
        }
       
        &__image{
            margin: 1rem auto;
            @include tablet{
                height: 50%;  
            } 

            @include desktop{
                display: flex;
                width: 35%;
            }
        }

        &__type{
            margin-top: 1rem;
            border-bottom: solid 1px $Cloud;
        }

        &__title{
        font-family:"Lovelace";
        color: $Graphite;
        font-weight:400;
        font-style:normal;
        @include tablet{
            font-size:2rem;
            line-height: 1rem;
        }
    }
    &__subtitle{
        font-family:"Lovelace";
        color: $Graphite;
        font-weight:400;
        font-style:normal;
        @include tablet{
            font-size:1.5rem;
        }
    }
    &__intro{
        font-weight:200;
        color: $Slate;
        padding-bottom: 1rem;
        
        @include tablet{
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 1rem 0;
            
            border-bottom: solid 1px $Cloud;
        }
    }
     &__box-title{
        font-family:"Lovelace";
        font-weight:400;
        color: $Slate;
        @include tablet{
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }
    }
    &__traits, &__career{
    }

    &__trait, &__job{
        font-size: 0.825rem;
        font-weight:200;
        color: $Slate;
        padding: 0.3rem;
        border: 1px solid $Cloud;
        border-radius: 10px;
        text-align: center;   
        width: 45%;     
        @include tablet{
            font-size: 0.8rem;
            line-height: 1rem;
            margin: 0.5rem 0;
        }
    }

    &__btn{
        margin: 2.5rem auto;
        width: 45%;
        @include mobile-secondaryBtn;
        justify-content: center;
        @include tablet{
            @include table_desck-secondaryBtn;
            margin-top:3.5rem;
            width: 55%;
        }
        &-link{
            text-decoration: none;
        }
    }
}

    