@font-face {
    font-family: 'Josefin Sans';
    src: url("../../Assetes/font/JosefinSans-Thin.ttf") format("woff");
    font-weight:100;
    font-style:normal;
}


@font-face {
    font-family: 'Josefin Sans';
    src: url("../../Assetes/font/JosefinSans-Light.ttf") format("woff");
    font-weight:200;
    font-style:normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("../../Assetes/font/JosefinSans-Medium.ttf") format("woff");
    font-weight:300;
    font-style:normal;
}


@font-face {
    font-family: 'Josefin Sans';
    src: url("../../Assetes/font/JosefinSans-Regular.ttf") format("woff");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("../../Assetes/font/JosefinSans-SemiBold.ttf") format("woff");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Josefin Sans';
    src: url("../../Assetes/font/JosefinSans-Bold.ttf") format("woff");
    font-weight:700;
    font-style:normal;
}


@font-face {
    font-family: 'Josefin Sans',"Avenir";
    src: url("../../Assetes/font/JosefinSans-Bold.ttf") format("woff");
    font-weight:700;
    font-style:normal;
}


@font-face {
    font-family: 'Lovelace';
    src: url("../../Assetes/font/Lovelace-Regular.otf") format("opentype");
    font-weight:400;
    font-style:normal;
}