@use './variable' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin onlyShowsOnMobile {

  @media screen and (min-width: $mobile-breakpoint) and (max-width: 767px){
    @content;
  }
}


@mixin table_desck-secondaryBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Josefin Sans";
    font-weight: 200;
    font-size: 1rem;
    line-height: 22px;
    color:$Slate;
    padding: 0.5rem 1rem;
    background: $White;
    border: 1px solid $Cloud;
    border-radius: 20px; 
  }