@use './style/partials/fonts' as *;
@use './style/partials/mixins' as *;
@use './style/partials/variable' as *;


html, body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

*, *::after, *::after {
  box-sizing: border-box;
}