@use './style/partials/fonts' as *;
@use './style/partials/mixins' as *;
@use './style/partials/variable' as *;


html, body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
  position: relative;
}

*, *::after, *::after {
  box-sizing: border-box;
}

.resource{
  display: none;
  position: fixed;
  color: $Slate;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 100;
}

.loading{
  background-color: rgba($color: #FFFFFF, $alpha: 0.80);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  z-index: 50;
  img{
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 15rem;
  }
}

.loading2{
  background-color: rgba($color: #FFFFFF, $alpha: 0.80);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  img{
  justify-content: center;
  align-content: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 8rem;
  }
}