@use '../../style/partials/fonts' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variable' as *;


.type{  
    &__container{
        padding: 0 2rem 2rem 2rem;
        background: linear-gradient(-45deg, #fff8e2, #ffe0ec, #e4f8ff, #e4fff9);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        } 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    @include desktop{
        grid-area: 2 / 1 / 7 / 6;
        border-radius: 20px;
        background-color: rgb(255, 255, 255, 0.8);
        padding: 2.5rem;
        display: flex;
        
        &__content{
            margin-right: 1.5rem;
        }
        &--image{
            width: 60%;
            margin-top: 3rem;
            margin-right: -2rem;
        }
    }  
        &__image{
            margin: 1rem auto;
            @include tablet{
                width:15rem ; 
            } 

            @include desktop{
                display: flex;
                width:20rem ; 
            }
        }
        &__type-name{
            margin-top: 1rem;
            border-bottom: dashed 1px $Slate;
        }

        &__title{
        font-family:"Lovelace";
        color: $Graphite;
        font-weight:400;
        font-style:normal;
        @include tablet{
            font-size:2rem;
            line-height: 3rem;
        }
    }
    &__subtitle{
        font-family:"Lovelace";
        color: $Graphite;
        font-weight:400;
        font-style:normal;
        @include tablet{
            font-size:1.5rem;
        }
    }
    &__intro{
        font-weight:200;
        color: $Slate;
        padding-bottom: 1rem;
        
        @include tablet{
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 1rem 0;
            border-bottom: dashed 1px $Slate;
        }
    }

    &__box{
        @include tablet{
            width: 30%;
            border-right:1px solid $Cloud;
        }
    }


    &__box-title{
        font-family:"Lovelace";
        font-weight:400;
        color: $Slate;
        @include tablet{
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }
    }
    &__trait{
        font-size: 0.7rem;
        font-weight:200;
        color: $Slate;
        padding: 0.2rem;
        border: 1px solid $Cloud;
        border-radius: 10px;
        text-align: center;   
        transition: 0.1s;  
        &:hover{
            cursor: crosshair;
            border:none;
            color:$White;
            background: $Cloud;    
        }   
        @include tablet{
            padding: 0.35rem;
            font-size: 0.8rem;
            line-height: 1rem;
            margin: 0 0.5rem;
            width: 35%;
        }
    }

    &__traits-list{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0.3rem;
    } 
}


