@use '../../style/partials/fonts' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variable' as *;


.test1, .test2, .test3, .test4{
    @include desktop{ 
        margin: 60vh 0;
        width: 70%;
    }  
}

.test{

    &__hero{
        @include desktop{
            display: flex;
            justify-content: flex-end;
        }
 
        &--text {
            @include desktop{
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 50%;   }  
        }

        &--imgbox{
            @include desktop{
                width: 35rem;
                height: 35rem;
                overflow: hidden;
                margin-left: 4rem;
                margin-top: 5rem;
            }
        }

        &--img{
            @include desktop{
                height: 31rem;
                margin-left: -158px;
            }
            
        }
    }

    &__body{
        @include desktop{
            padding: 3rem 6rem;}   
    }
    &__title{
        font-family:"Lovelace";
        color: $Graphite;
        font-weight:400;
        font-style:normal;

        @include desktop{
            font-size:3.5rem;
            line-height: 5rem;
        }   
    }

    &__intro{
        font-weight:200;
        color: $Slate;
        @include desktop{
            font-size: 1.1rem;
            line-height: 2rem;
            margin-bottom: 3rem;
        }
    }
    
    &__single{
        @include desktop{
            padding-bottom: 1.5rem;
            max-width: 24rem;
        } 
        h2{
            font-family:"Lovelace";
            font-weight:400;
            font-style:normal;
            @include desktop{
                font-size:1.5rem;
                line-height: 2rem;
            } 
        }
    }

    &__option{
        font-weight:200;
        color: $Slate;
        @include desktop{
            font-size: 1.1rem;
        }   
    }

    &__start-btn{
        @include mobile-secondaryBtn;
        @include desktop{ 
            @include table_desck-secondaryBtn;
            width: 40%;
            display: flex;
            justify-content: center;}
    }
    &__finish-btn{
        @include mobile-secondaryBtn;
        @include desktop{
            @include table_desck-secondaryBtn;
            width: 40%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }  
    }
}

