@use '../../style/partials/fonts' as *;
@use '../../style/partials/mixins' as *;
@use '../../style/partials/variable' as *;


.test1, .test2, .test3, .test4{
    @include tablet{ 
        margin: 40vh 0;
        width: 65%;
    }  
}
.test3{
    margin-top: -80px;
}

.test{

    &__body{
        padding:2rem 1rem;
        @include tablet{
            padding: 2rem 2rem;
        }
        @include desktop{ 
            padding: 3rem 1rem;
          } 
    }
    &__hero{
        border-radius: 10px;
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        margin-bottom: 50vh;

        @include tablet{
            display: flex;
            flex-direction:row;}
 
        @include desktop{
            display: flex;
            flex-direction:row;
            border-radius: 20px;
            padding: 3rem;
             }
             &--text {
                width: 100%;

                @include tablet{
                    width: 90%;  
                }
                @include desktop{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 50%;   }  
            }
            &--imgbox{
                overflow: hidden;

                @include tablet{
                    margin-left: -2rem;
                }
                @include desktop{
                    width: 35rem;
                    height: 35rem;
                    margin-left: 4rem;
                    margin-top: 5rem;
                }
            }
    
            &--img{
                width: 165%;
                margin-left: -90px;
                @include tablet{
                    height: 31rem;
                    margin-left: -5rem;
                    margin-top: 8rem;
                }
                @include desktop{
                    height: 31rem;
                    margin-left: -158px;
                }  
            }
        
        } 
        &__title{
            font-family: "Lovelace";
            color: #232940;
            font-weight: 400;
            font-style: normal;
            font-size: 2.1rem;
            line-height: 2.5rem;
    
            @include tablet{
                font-size:3rem;
                line-height:4rem;
            }  
        }
        &__intro{
            font-weight:200;
            color: $Slate;
            font-size: 1rem;
            line-height:1.5rem;
    
            @include tablet{
            font-size: 1rem;
            line-height: 2rem;
            margin-bottom: 3rem;}
        }       
    
    &__single{
        margin-bottom: 1.5rem;
        @include tablet{
            margin-bottom: 1.8rem;
            max-width: 24rem;
        } 
        h2{
            font-family:"Lovelace";
            font-weight:400;
            font-style:normal;
            font-size:1rem;
            line-height: 1.3rem;
            @include tablet{
                font-size:1.5rem;
                line-height: 2rem;
            } 
        }
    }

    &-box__1, &-box__3{
        margin-bottom: 50vh;
        display: flex;
        flex-direction:column-reverse;
        overflow: hidden;
        @include tablet{
            align-items: center;
        }
        @include desktop{ 
            overflow:visible;
            display: flex;
            flex-direction: row-reverse;}

        img{
                width: 120%;
                margin-left: -1.8rem;
                margin-bottom: -2rem;
                @include tablet{
                    margin-left: 1rem;
                    margin-bottom: -7rem;
                    width: 90%;
                }
                @include desktop{
                    width:50%;
                    margin:0 3rem;
                }  
            }
        }

    &-box__2, &-box__4{
        margin-bottom: 50vh;
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        overflow: hidden;
        @include tablet{
            align-items: center;
        }
        @include desktop{
            display: flex;
            flex-direction: row;
            margin-left: 3rem;
         }
        img{
            margin-left: -30px;
            @include tablet{
                width: 90%;
               margin: 0 auto;
            }
            @include desktop{
            width:50%;}
        }
    }

    &__option{
        font-weight:200;
        color: $Slate;
        @include tablet{
            font-size: 1rem;
        }   
    }

    &__start-btn{
        @include mobile-secondaryBtn;

        @include tablet{ 
            @include table_desck-secondaryBtn;
            width: 40%;
            display: flex;
            justify-content: center;}
    }

    &__finish-btn{
        @include mobile-secondaryBtn;
        margin: 0 auto;
        width: 50%;
        display: flex;
        justify-content: center;
        @include tablet{
            @include table_desck-secondaryBtn;
            width: 40%;
        }  
    }
}   


